:root {
    /* Colors. */
    --color-text:#DAFFFB;
    --color-primary:#64CCC5;
    --color-secondary:#04364A;
    --color-dark: #04364A;
    --color-bg:#176B87;

    /* Fonts */
    --font-robot: "Roboto";
}